.test-1{
    background: black ;
    color: green;
    padding:10px;

}
.test-2{
    background: yellow;
    color : red;
    height: 60px;
    margin: 20px;
    padding: 10px
}
.test-3{
    margin:20px;
    padding:10px
}
.test-4{
    padding-left:10px
}
.test-5{
    margin-left:20px;
}